@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-class:hover {
    color: #ed7914;
    text-shadow: 0 0 1rem #04ff97, -0.2rem 0.1rem 0rem #000000, -15rem 14rem 20rem #c32828;
    font-style: italic;
}

body {
   background-color: black;
}

html {
  font-family: 'Poltawski Nowy', serif, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: large;
}
body {
  background-image: conic-gradient(at top, var(--tw-gradient-stops)),
}
.hover-class-2:hover {
    color: blue;
    text-decoration: underline;
    text-shadow: -1px -1px 12px #440000;
}

.hover-button:hover {
    background-color: black;
    color: aqua;
    box-shadow: -1px 1px 20px 13px red;
}

.hover-input:focus {
  box-shadow: inset -1px 1px 20px 0px #009fff;
}

.handle {
    transition: all 0.5s linear;

}

.handler {
    transition: all 0.5s linear;
}

/* For Firefox */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }

  /* height */
  ::-webkit-scrollbar {
    height: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0px 1px 0px 0px rgb(255 0 0);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00ff26;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0033ff;
  }



  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #00ff26;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0400ff;
  }

  /* .section {
    transform: translateX(-100%);
    animation: slide-in 1s forwards;
  }

  @keyframes slide-in {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  } */

  .box{
    top: 0; left: 0;
    right: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box span{
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce 0.4s ease infinite alternate;
  }
  @keyframes bounce{
    100%{
      top: -20px;
      text-shadow: 0 1px #ccc,
                   0 2px #ccc,
                   0 3px #ccc,
                   0 4px #ccc,
                   0 5px #ccc,
                   0 6px #ccc,
                   0 7px #ccc,
                   0 8px #ccc,
                   0 9px #ccc,
                   0 50px 25px rgba(0, 0, 0, 0.2);
    }
  }
    .box span:nth-child(1){
        animation-delay:0.05s;
    }
  .box span:nth-child(2){
    animation-delay:0.15s;
  }
  .box span:nth-child(3){
    animation-delay:0.15s;
  }
  .box span:nth-child(4){
    animation-delay:0.2s;
  }
  .box span:nth-child(5){
    animation-delay:0.25s;
  }
  .box span:nth-child(6){
    animation-delay:0.3s;
  }
  .box span:nth-child(7){
    animation-delay:0.35s;
  }
  .box span:nth-child(8){
    animation-delay:0.4s;
  }


  .pop {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 30px;
  }
  .pop span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #fff;
    animation: pop 1s infinite;
    animation-delay: calc(.1s * var(--i));

  }
  @keyframes pop {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

  section{
    border: 1px solid white;
  }


  #text-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #text {
    font-size: 1.2rem;
    text-align: center;
    opacity: 0;
    animation: write-text 1s forwards;
  }


  @keyframes write-text {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

